html, body {
    background-color: #97b8d8;
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#main-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #EAECC6;
    background-color: royalblue;
    padding: 10px; /* Add padding for space around the title */
    margin-top: 0px;
    margin-bottom: 10px; /* Add space below the title */
    border-bottom: 2px solid #ccc; /* Add a subtle bottom border */
    text-align: left; /* Center the title (optional) */
    font-size: 2.5em; /* Make the title larger (optional) */
    font-weight: bold; /* Make the title bold (optional) */
}

a.home-button {
    display: inline-block;
    background-color: #EAECC6;
    padding: 5px 10px;
    border-radius: 5px; /* Rounded corners */
    text-decoration: none;
    color: #333;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 20% 100%, 0 50%); /* Arrow pointing left */
    transition: background-color 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 7px; /* Add left margin */
}

.menu-text {
    color: #333;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-list {
    list-style-type: none; /* Remove default numbers */
    padding: 0;
  }
  
  .home-list li {
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #EAECC6; /* Light background */
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    text-align: center;
    margin-left: 7px; /* Add left margin */
    margin-right: 7px;
  }

  .home-list li a { /* Style the anchor tag */
    text-decoration: none; /* Remove underline */
    display: block; /* Make the anchor tag fill the list item */
    width: 100%; /* Make the anchor tag fill the list item */
    height: 100%;/* Make the anchor tag fill the list item */
  }

  .img-container {
    display: flex; /* Use flexbox for horizontal centering */
    justify-content: center; /* Center the image horizontally */
    width: 100%; /* Make the container take full width */  
  }

  .img-dimension {
    width: 300px; /* Fixed width for the image */
    height: auto;
    object-fit: contain; /* Maintain aspect ratio */
    border-radius: 40px;
    border: 2px solid #EAECC6;
  }

  #sub-title{
    font-size: 2.2em;
    display: flex; /* Use flexbox for horizontal centering */
    justify-content: center; /* Center the text horizontally */
    width: 100%; /* Make the text take full width */  
    
  }

  #content-body {
    margin-left: 40px;
    margin-right: 110px;
    margin-top: 0px;
  }